.blue {
    border-bottom: 5px solid #255dd9;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: #7070d0;
    box-sizing:border-box ;
}

